:root{
    background-image: url('https://images.pexels.com/photos/991422/pexels-photo-991422.jpeg?auto=compress&cs=tinysrgb&h=627&fit=crop&w=1200');
    background-size:cover ;
    background-repeat: no-repeat;
}
nav{
justify-content: space-around;
}
footer {
    position:fixed;
     bottom:0;
     clear:both;
     width:100%;
     height:100px;
 }